/*Styles for SHADES Project*/



@font-face{
	font-family: Carrington
	src: url(...Fonts/Carrington/Carrington.ttf);
}


body{
	background-image: url("../Pictures/clubfair15.jpg");

}




h1{

	background-color: #b300b3;
	text-align: center;
	font-family: Carrington, Helvetica, Arial, cursive;
	color: white;
	font-size: 100px;

}



.transparent_b{

		background: rgba(255,0,255,0.3);
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 5%;
		padding: 2%;
		border: solid 6px black;
		font-family: Carrington;
		color: white;
		font-size: 25px;


}

ul {
list-style-type: none;
padding: 0;
margin: 0;
background-color: violet;

}
li{
display: inline-block;
text-align: center;
width: 18%;
background-color: violet;
padding-top: 0s;
margin: 0;
color: white;
}

.dropdown-content{
display: none;
position: absolute;
background-color: violet;
width: 15%;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
margin-top: 0;
margin-left: 0;
text-align: center;
text-decoraton: none;
}

.dropdown{
	display: inline-block;
	font-size: 75%;
	width: 10%
	position: absolute;

}


.dropdown:hover 

.dropdown-content {
display: block;
}


.dropdown-content a {
background-color: violet;
color: white;
padding: 10px 20px;
text-decoraton: none;
display: block;
}

.dropdown-content a:hover {
background-color: violet;
letter-spacing: 0.1em;
font-size: 1.1em;
}

.text {
	font-size: 1.5em;
	letter-spacing: .15em;
	font-weight: bold;
}



